In [1]:
# lib imports
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

# from IPython.display import display, HTML
# display(HTML("<style>.container { width:100% !important; }</style>"))data = pd.read_csv('./output/YEARLY_PIA_DF_2024.csv')

In [2]:
from IPython.display import display, HTML
display(HTML("<style>.container { width:100% !important; }</style>"))

In [3]:
# data imports
data = pd.read_csv('./output/YEARLY_PIA_DF_2024.csv')
print(data.count)
print(data.columns)

<bound method DataFrame.count of          msr_prd_id  end_ivstr_unq_id_tp  pvr_role_rspn  org_ip_id  RID  \
0            950764             324001.0      703600004       8117  NaN
1            950764             324001.0      703600004       8117  NaN
2            950764             324001.0      703600004       8117  NaN
3            950764             324001.0      703600004       8117  NaN
4            950764             324001.0      703600004       8117  NaN
...             ...                  ...            ...        ...  ...
1656579      950767             324001.0      703600004       8117  NaN
1656580      950767             324001.0      703600004       8117  NaN
1656581      950767             324001.0      703600004       8117  NaN
1656582      950767             324001.0      703600004       8117  NaN
1656583      950767             324001.0      703600004       8117  NaN

                  end_ivstr_nm    SECTOR  ISIC4_CLID  orig_ccy_cost_val  \
0            นางบุษบง วิทรายคำ  443078.0    752999.0           36635.34
1            นางบุษบง วิทรายคำ  443078.0    752999.0           47243.48
2           นางวาสนา วานิชบุตร  443078.0    752999.0            6612.06
3           นางวาสนา วานิชบุตร  443078.0    752999.0            9875.13
4           นางวาสนา วานิชบุตร  443078.0    752999.0            3890.23
...                        ...       ...         ...                ...
1656579  น.ส.ภัสรัญ ตรีวัฒนกูล  443078.0    752999.0            4742.80
1656580  น.ส.ภัสรัญ ตรีวัฒนกูล  443078.0    752999.0            6600.38
1656581  น.ส.ภัสรัญ ตรีวัฒนกูล  443078.0    752999.0           50366.81
1656582  น.ส.ภัสรัญ ตรีวัฒนกูล  443078.0    752999.0           12792.00
1656583  น.ส.ภัสรัญ ตรีวัฒนกูล  443078.0    752999.0            9600.70

         orig_ccy_mkt_val      scr_code     BOP_item          issuer_name  \
0                29102.16  US25460G1958  264000220.0       Direxion Funds
1                44674.50  US62914V1061  264000219.0                  Nio
2                 5694.75  US87612E1064  264000219.0               Target
3                12211.55  US0378331005  264000219.0                Apple
4                 1922.70  US00206R1023  264000219.0             AT&T Inc
...                   ...           ...          ...                  ...
1656579            504.00  US5770961002  264000219.0           Matterport
1656580           6543.00  US30303M1027  264000219.0       Meta Platforms
1656581          54018.00  US88160R1014  264000219.0                Tesla
1656582           5581.92  US0321086078  264000220.0  Amplify Investments
1656583          10226.30  US0231351067  264000219.0            Amazoncom

         issuer_countryID  scr_currencyID  scr_termID scr_instrument
0                999102.0        998170.0    310018.0            ETF
1                999123.0        998170.0    310018.0          Stock
2                999230.0        998170.0    310018.0          Stock
3                999230.0        998170.0    310018.0          Stock
4                999230.0        998170.0    310018.0          Stock
...                   ...             ...         ...            ...
1656579          999230.0        998170.0    310018.0          Stock
1656580          999230.0        998170.0    310018.0          Stock
1656581          999230.0        998170.0    310018.0          Stock
1656582          999230.0        998170.0    310018.0            ETF
1656583          999230.0        998170.0    310018.0          Stock

[1656584 rows x 17 columns]>
Index(['msr_prd_id', 'end_ivstr_unq_id_tp', 'pvr_role_rspn', 'org_ip_id',
       'RID', 'end_ivstr_nm', 'SECTOR', 'ISIC4_CLID', 'orig_ccy_cost_val',
       'orig_ccy_mkt_val', 'scr_code', 'BOP_item', 'issuer_name',
       'issuer_countryID', 'scr_currencyID', 'scr_termID', 'scr_instrument'],
      dtype='object')

In [4]:
grouped_org = data.groupby(['msr_prd_id', 'org_ip_id', 'end_ivstr_nm', 'scr_code', 'SECTOR', 'ISIC4_CLID', 'BOP_item', 'scr_currencyID', 'issuer_countryID', 'scr_termID'])['orig_ccy_cost_val'].sum().reset_index()
grouped_org.sort_values(by=[ 'org_ip_id', 'end_ivstr_nm', 'scr_code', 'SECTOR', 'ISIC4_CLID', 'BOP_item', 'scr_currencyID', 'issuer_countryID',  'scr_termID', 'msr_prd_id'], inplace=True)

#fix dimension
grouped_org['SECTOR'] = grouped_org['SECTOR'].astype('int').astype('str')
grouped_org['ISIC4_CLID'] = grouped_org['ISIC4_CLID'].astype('int').astype('str')
grouped_org['BOP_item'] = grouped_org['BOP_item'].astype('int').astype('str').str.zfill(10)
grouped_org['scr_currencyID'] = grouped_org['scr_currencyID'].astype('int').astype('str')
grouped_org['issuer_countryID'] = grouped_org['issuer_countryID'].astype('int').astype('str')
grouped_org['scr_termID'] = grouped_org['scr_termID'].astype('int').astype('str')

print(grouped_org.head())
print(grouped_org.info())

         msr_prd_id  org_ip_id                           end_ivstr_nm  \
0            950763         33  Vitoorapakorn Holding Company Limited
270552       950764         33  Vitoorapakorn Holding Company Limited
543528       950765         33  Vitoorapakorn Holding Company Limited
815644       950766         33  Vitoorapakorn Holding Company Limited
1086132      950767         33  Vitoorapakorn Holding Company Limited

             scr_code     SECTOR ISIC4_CLID    BOP_item scr_currencyID  \
0        IE0009489620  417300005     752222  0264000220         998170
270552   IE0009489620  417300005     752222  0264000220         998170
543528   IE0009489620  417300005     752222  0264000220         998170
815644   IE0009489620  417300005     752222  0264000220         998170
1086132  IE0009489620  417300005     752222  0264000220         998170

        issuer_countryID scr_termID  orig_ccy_cost_val
0                 999999     310018                0.0
270552            999999     310018                0.0
543528            999999     310018                0.0
815644            999999     310018                0.0
1086132           999999     310018                0.0
<class 'pandas.core.frame.DataFrame'>
Index: 1623941 entries, 0 to 1623940
Data columns (total 11 columns):
 #   Column             Non-Null Count    Dtype
---  ------             --------------    -----
 0   msr_prd_id         1623941 non-null  int64
 1   org_ip_id          1623941 non-null  int64
 2   end_ivstr_nm       1623941 non-null  object
 3   scr_code           1623941 non-null  object
 4   SECTOR             1623941 non-null  object
 5   ISIC4_CLID         1623941 non-null  object
 6   BOP_item           1623941 non-null  object
 7   scr_currencyID     1623941 non-null  object
 8   issuer_countryID   1623941 non-null  object
 9   scr_termID         1623941 non-null  object
 10  orig_ccy_cost_val  1623941 non-null  float64
dtypes: float64(1), int64(2), object(8)
memory usage: 148.7+ MB
None

In [5]:
provider_check = grouped_org.groupby(['msr_prd_id', 'org_ip_id'])['orig_ccy_cost_val'].sum().reset_index()

pivot_provider = provider_check.pivot(index = 'org_ip_id', columns = 'msr_prd_id', values = 'orig_ccy_cost_val' ).reset_index()
print(pivot_provider.head(10))
print(pivot_provider.info())

msr_prd_id  org_ip_id        950763        950764        950765        950766  \
0                  33  5.234303e+06  5.103548e+06  5.678664e+06  5.698978e+06
1                7447  2.800470e+10  2.821787e+10  2.009979e+10  2.035771e+10
2                7965  3.447339e+08  3.276021e+08  2.593817e+08  2.592755e+08
3                8117  9.018939e+12  8.469882e+12  8.360370e+12  8.429454e+12
4                9693  5.125000e+07  5.125000e+07  5.125000e+07  5.125000e+07
5                9798  1.108529e+07  1.087984e+07  1.087984e+07  1.088257e+07
6               10117  7.925346e+10  7.762055e+10  7.582192e+10  7.649565e+10
7               10166  2.549988e+06  2.549988e+06  2.549988e+06  2.549988e+06
8               12469  1.921367e+06  1.921367e+06  1.921367e+06  1.921367e+06
9               12897  4.236131e+10  4.236360e+10  4.233356e+10  4.222114e+10

msr_prd_id        950767        950768
0           5.685559e+06  5.678577e+06
1           1.552117e+10  1.509047e+10
2           1.810252e+08  1.481824e+08
3           8.627342e+12  8.791996e+12
4           5.125000e+07  4.525000e+07
5           1.088257e+07  9.859760e+06
6           7.657878e+10  5.423690e+10
7           2.549988e+06  2.549988e+06
8           1.921367e+06  1.921367e+06
9           4.221287e+10  4.220975e+10
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 87 entries, 0 to 86
Data columns (total 7 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   org_ip_id  87 non-null     int64
 1   950763     77 non-null     float64
 2   950764     77 non-null     float64
 3   950765     79 non-null     float64
 4   950766     84 non-null     float64
 5   950767     84 non-null     float64
 6   950768     87 non-null     float64
dtypes: float64(6), int64(1)
memory usage: 4.9 KB
None

In [6]:
provider_fix = pivot_provider[pivot_provider.iloc[:, 1:].isna().any(axis=1)]
provider_fix.head(10)

msr_prd_id,org_ip_id,950763,950764,950765,950766,950767,950768
15,16055,NaN,NaN,NaN,2.108671e+09,2.108671e+09,2.108671e+09
17,16060,NaN,NaN,NaN,NaN,NaN,7.987542e+04
21,23630,NaN,NaN,NaN,4.872150e+06,4.872150e+06,4.872150e+06
26,47207,NaN,NaN,NaN,2.926514e+06,3.336088e+06,1.409575e+06
30,64912,2.154000e+07,2.154000e+07,2.154000e+07,2.154000e+07,NaN,2.198378e+07
45,272208,2.574839e+09,2.575027e+09,2.575127e+09,NaN,2.552310e+09,2.542294e+09
63,315597,NaN,NaN,NaN,1.559420e+06,1.495173e+06,1.483273e+06
80,1034532,NaN,NaN,2.800000e+08,2.800000e+08,2.800000e+08,2.800000e+08
83,1202287,NaN,NaN,NaN,1.888000e+01,4.181005e+04,2.401920e+05
84,13519309,NaN,NaN,1.520480e+07,1.520480e+07,1.520480e+07,1.520480e+07

In [7]:
pivot_grouped_org = grouped_org.pivot(index = ['org_ip_id', 'end_ivstr_nm', 'scr_code', 'SECTOR', 'ISIC4_CLID', 'BOP_item', 'scr_currencyID', 'issuer_countryID', 'scr_termID'], columns = 'msr_prd_id', values = 'orig_ccy_cost_val' ).reset_index()
pivot_grouped_org.head(10)
print(pivot_grouped_org.shape)

(384977, 15)

In [8]:
provider_fix = pivot_grouped_org.iloc[:,:9].merge(pivot_provider, left_on='org_ip_id', right_on = 'org_ip_id')
print(provider_fix.head(10))
print(provider_fix.isna())
print(provider_fix.shape)

msr_prd_id  org_ip_id                           end_ivstr_nm      scr_code  \
0                  33  Vitoorapakorn Holding Company Limited  IE0009489620
1                  33  Vitoorapakorn Holding Company Limited  IE0030819381
2                  33  Vitoorapakorn Holding Company Limited  KYG1319X1209
3                  33  Vitoorapakorn Holding Company Limited  KYG1321E1448
4                  33  Vitoorapakorn Holding Company Limited  KYOTHGNI1122
5                  33  Vitoorapakorn Holding Company Limited  LU0124384867
6                  33  Vitoorapakorn Holding Company Limited  LU0256846139
7                  33  Vitoorapakorn Holding Company Limited  LU1244139660
8                  33  Vitoorapakorn Holding Company Limited  LU2187417386
9                  33  Vitoorapakorn Holding Company Limited  XS2084378798

msr_prd_id     SECTOR ISIC4_CLID    BOP_item scr_currencyID issuer_countryID  \
0           417300005     752222  0264000220         998170           999999
1           417300005     752222  0264000220         998170           999101
2           417300005     752222  0264000220         998170           999123
3           417300005     752222  0264000220         998170           999123
4           417300005     752222  0264000220         998170           999123
5           417300005     752222  0264000220         998170           999230
6           417300005     752222  0264000220         998170           999041
7           417300005     752222  0264000220         998170           999230
8           417300005     752222  0264000220         998170           999230
9           417300005     752222  0264000222         998170           999214

msr_prd_id scr_termID      950763      950764      950765      950766  \
0              310018  5234302.83  5103548.14  5678663.73  5698978.42
1              310018  5234302.83  5103548.14  5678663.73  5698978.42
2              310018  5234302.83  5103548.14  5678663.73  5698978.42
3              310018  5234302.83  5103548.14  5678663.73  5698978.42
4              310018  5234302.83  5103548.14  5678663.73  5698978.42
5              310018  5234302.83  5103548.14  5678663.73  5698978.42
6              310018  5234302.83  5103548.14  5678663.73  5698978.42
7              310018  5234302.83  5103548.14  5678663.73  5698978.42
8              310018  5234302.83  5103548.14  5678663.73  5698978.42
9              310018  5234302.83  5103548.14  5678663.73  5698978.42

msr_prd_id     950767      950768
0           5685559.3  5678576.97
1           5685559.3  5678576.97
2           5685559.3  5678576.97
3           5685559.3  5678576.97
4           5685559.3  5678576.97
5           5685559.3  5678576.97
6           5685559.3  5678576.97
7           5685559.3  5678576.97
8           5685559.3  5678576.97
9           5685559.3  5678576.97
msr_prd_id  org_ip_id  end_ivstr_nm  scr_code  SECTOR  ISIC4_CLID  BOP_item  \
0               False         False     False   False       False     False
1               False         False     False   False       False     False
2               False         False     False   False       False     False
3               False         False     False   False       False     False
4               False         False     False   False       False     False
...               ...           ...       ...     ...         ...       ...
384972          False         False     False   False       False     False
384973          False         False     False   False       False     False
384974          False         False     False   False       False     False
384975          False         False     False   False       False     False
384976          False         False     False   False       False     False

msr_prd_id  scr_currencyID  issuer_countryID  scr_termID  950763  950764  \
0                    False             False       False   False   False
1                    False             False       False   False   False
2                    False             False       False   False   False
3                    False             False       False   False   False
4                    False             False       False   False   False
...                    ...               ...         ...     ...     ...
384972               False             False       False    True    True
384973               False             False       False    True    True
384974               False             False       False    True    True
384975               False             False       False    True    True
384976               False             False       False    True    True

msr_prd_id  950765  950766  950767  950768
0            False   False   False   False
1            False   False   False   False
2            False   False   False   False
3            False   False   False   False
4            False   False   False   False
...            ...     ...     ...     ...
384972        True   False   False   False
384973        True   False   False   False
384974       False   False   False   False
384975        True    True    True   False
384976        True   False   False   False

[384977 rows x 15 columns]
(384977, 15)

In [9]:
for col_idx in range(10, len(pivot_grouped_org.columns)):
    for row_idx in range(len(pivot_grouped_org.index)):
        if pd.isna(provider_fix.iloc[row_idx, col_idx]):
            pivot_grouped_org.iloc[row_idx, col_idx] = pivot_grouped_org.iloc[row_idx, col_idx-1]
            
pivot_grouped_org.iloc[:, 9:] = pivot_grouped_org.iloc[:, 9:].fillna(0)
pivot_grouped_org.head(10)
print(pivot_grouped_org.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 384977 entries, 0 to 384976
Data columns (total 15 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   org_ip_id         384977 non-null  int64
 1   end_ivstr_nm      384977 non-null  object
 2   scr_code          384977 non-null  object
 3   SECTOR            384977 non-null  object
 4   ISIC4_CLID        384977 non-null  object
 5   BOP_item          384977 non-null  object
 6   scr_currencyID    384977 non-null  object
 7   issuer_countryID  384977 non-null  object
 8   scr_termID        384977 non-null  object
 9   950763            384977 non-null  float64
 10  950764            384977 non-null  float64
 11  950765            384977 non-null  float64
 12  950766            384977 non-null  float64
 13  950767            384977 non-null  float64
 14  950768            384977 non-null  float64
dtypes: float64(6), int64(1), object(8)
memory usage: 44.1+ MB
None

In [10]:
### mkt val
grouped_org_mkt = data.groupby(['msr_prd_id', 'org_ip_id', 'end_ivstr_nm', 'scr_code', 'SECTOR', 'ISIC4_CLID', 'BOP_item', 'scr_currencyID', 'issuer_countryID', 'scr_termID'])['orig_ccy_mkt_val'].sum().reset_index()
grouped_org_mkt.sort_values(by=[ 'org_ip_id', 'end_ivstr_nm', 'scr_code', 'SECTOR', 'ISIC4_CLID', 'BOP_item', 'scr_currencyID', 'issuer_countryID',  'scr_termID', 'msr_prd_id'], inplace=True)

grouped_org_mkt['SECTOR'] = grouped_org_mkt['SECTOR'].astype('int').astype('str')
grouped_org_mkt['ISIC4_CLID'] = grouped_org_mkt['ISIC4_CLID'].astype('int').astype('str')
grouped_org_mkt['BOP_item'] = grouped_org_mkt['BOP_item'].astype('int').astype('str').str.zfill(10)
grouped_org_mkt['scr_currencyID'] = grouped_org_mkt['scr_currencyID'].astype('int').astype('str')
grouped_org_mkt['issuer_countryID'] = grouped_org_mkt['issuer_countryID'].astype('int').astype('str')
grouped_org_mkt['scr_termID'] = grouped_org_mkt['scr_termID'].astype('int').astype('str')

provider_check_mkt = grouped_org_mkt.groupby(['msr_prd_id', 'org_ip_id'])['orig_ccy_mkt_val'].sum().reset_index()
pivot_provider_mkt = provider_check_mkt.pivot(index = 'org_ip_id', columns = 'msr_prd_id', values = 'orig_ccy_mkt_val' ).reset_index()
provider_fix_mkt = pivot_provider_mkt[pivot_provider.iloc[:, 1:].isna().any(axis=1)]
pivot_grouped_org_mkt = grouped_org_mkt.pivot(index = ['org_ip_id', 'end_ivstr_nm', 'scr_code', 'SECTOR', 'ISIC4_CLID', 'BOP_item', 'scr_currencyID', 'issuer_countryID', 'scr_termID'], columns = 'msr_prd_id', values = 'orig_ccy_mkt_val' ).reset_index()
provider_fix_mkt = pivot_grouped_org_mkt.iloc[:,:9].merge(pivot_provider, left_on='org_ip_id', right_on = 'org_ip_id')

for col_idx in range(10, len(pivot_grouped_org_mkt.columns)):
    for row_idx in range(len(pivot_grouped_org_mkt.index)):
        if pd.isna(provider_fix_mkt.iloc[row_idx, col_idx]):
            pivot_grouped_org_mkt.iloc[row_idx, col_idx] = pivot_grouped_org_mkt.iloc[row_idx, col_idx-1]
            
pivot_grouped_org_mkt.iloc[:, 9:] = pivot_grouped_org_mkt.iloc[:, 9:].fillna(0)

columns_to_unpivot_mkt = grouped_org_mkt['msr_prd_id'].unique().tolist()
df_unpivoted_mkt = pd.melt(pivot_grouped_org_mkt, 
                       id_vars=['org_ip_id', 'end_ivstr_nm', 'scr_code', 'SECTOR', 'ISIC4_CLID', 'BOP_item', 'scr_currencyID', 'issuer_countryID', 'scr_termID'],
                       value_vars = columns_to_unpivot_mkt,
                       value_name ='orig_ccy_mkt_val')

In [13]:
columns_to_unpivot = grouped_org['msr_prd_id'].unique().tolist()
df_unpivoted = pd.melt(pivot_grouped_org, 
                       id_vars=['org_ip_id', 'end_ivstr_nm', 'scr_code', 'SECTOR', 'ISIC4_CLID', 'BOP_item', 'scr_currencyID', 'issuer_countryID', 'scr_termID'],
                       value_vars = columns_to_unpivot,
                       value_name ='orig_ccy_cost_val')

In [11]:
df_unpivoted_mkt.head(3)

,org_ip_id,end_ivstr_nm,scr_code,SECTOR,ISIC4_CLID,BOP_item,scr_currencyID,issuer_countryID,scr_termID,msr_prd_id,orig_ccy_mkt_val
0,33,Vitoorapakorn Holding Company Limited,IE0009489620,417300005,752222,0264000220,998170,999999,310018,950763,0.00
1,33,Vitoorapakorn Holding Company Limited,IE0030819381,417300005,752222,0264000220,998170,999101,310018,950763,0.00
2,33,Vitoorapakorn Holding Company Limited,KYG1319X1209,417300005,752222,0264000220,998170,999123,310018,950763,349883.09

In [14]:
df_unpivoted.head(3)

,org_ip_id,end_ivstr_nm,scr_code,SECTOR,ISIC4_CLID,BOP_item,scr_currencyID,issuer_countryID,scr_termID,msr_prd_id,orig_ccy_cost_val
0,33,Vitoorapakorn Holding Company Limited,IE0009489620,417300005,752222,0264000220,998170,999999,310018,950763,0.00
1,33,Vitoorapakorn Holding Company Limited,IE0030819381,417300005,752222,0264000220,998170,999101,310018,950763,0.00
2,33,Vitoorapakorn Holding Company Limited,KYG1319X1209,417300005,752222,0264000220,998170,999123,310018,950763,341651.81

In [17]:
df_unpivoted_fin = df_unpivoted
df_unpivoted_fin['orig_ccy_mkt_val'] = df_unpivoted_mkt['orig_ccy_mkt_val']
df_unpivoted_fin.head(3)
# df_unpivoted_fin.sample(3)

,org_ip_id,end_ivstr_nm,scr_code,SECTOR,ISIC4_CLID,BOP_item,scr_currencyID,issuer_countryID,scr_termID,msr_prd_id,orig_ccy_cost_val,orig_ccy_mkt_val
0,33,Vitoorapakorn Holding Company Limited,IE0009489620,417300005,752222,0264000220,998170,999999,310018,950763,0.00,0.00
1,33,Vitoorapakorn Holding Company Limited,IE0030819381,417300005,752222,0264000220,998170,999101,310018,950763,0.00,0.00
2,33,Vitoorapakorn Holding Company Limited,KYG1319X1209,417300005,752222,0264000220,998170,999123,310018,950763,341651.81,349883.09

In [18]:
df_unpivoted_fin.sort_values(by=[ 'org_ip_id', 'end_ivstr_nm', 'scr_code', 'SECTOR', 'ISIC4_CLID', 'BOP_item', 'scr_currencyID',  'scr_termID', 'msr_prd_id'], inplace=True)
df_unpivoted_fin['total_change'] = df_unpivoted_fin.groupby([ 'org_ip_id', 'end_ivstr_nm', 'scr_code', 'SECTOR', 'ISIC4_CLID', 'BOP_item', 'scr_currencyID',  'scr_termID'])['orig_ccy_cost_val'].diff()
df_unpivoted_fin['grand_total_change'] = df_unpivoted_fin.groupby(['msr_prd_id', 'SECTOR', 'ISIC4_CLID', 'BOP_item', 'scr_currencyID', 'issuer_countryID', 'scr_termID'])['total_change'].transform('sum')
df_unpivoted_fin['grand_increase'] = df_unpivoted_fin[df_unpivoted_fin['total_change'] >= 0].groupby(['msr_prd_id', 'SECTOR', 'ISIC4_CLID', 'BOP_item', 'scr_currencyID', 'issuer_countryID', 'scr_termID'])['total_change'].transform('sum')
df_unpivoted_fin['grand_decrease'] = df_unpivoted_fin[df_unpivoted_fin['total_change'] < 0].groupby(['msr_prd_id', 'SECTOR', 'ISIC4_CLID', 'BOP_item', 'scr_currencyID', 'issuer_countryID', 'scr_termID'])['total_change'].transform('sum')
df_unpivoted_fin['transaction_change'] = np.where((df_unpivoted_fin['total_change'] * df_unpivoted_fin['grand_total_change'] >= 0) & (df_unpivoted['grand_total_change'] >= 0),
    df_unpivoted_fin['total_change'] * df_unpivoted_fin['grand_total_change'] / df_unpivoted_fin['grand_increase'],
    np.where((df_unpivoted_fin['total_change'] * df_unpivoted_fin['grand_total_change'] >= 0) & (df_unpivoted_fin['grand_total_change'] < 0),
        df_unpivoted_fin['total_change'] * df_unpivoted_fin['grand_total_change'] / df_unpivoted_fin['grand_decrease'], 0))
df_unpivoted_fin['other_change'] = df_unpivoted_fin['total_change'] - df_unpivoted_fin['transaction_change']

df_unpivoted_fin.head(20)
print(df_unpivoted_fin.info())
print(df_unpivoted_fin.shape)

<class 'pandas.core.frame.DataFrame'>
Index: 2309862 entries, 0 to 2309861
Data columns (total 18 columns):
 #   Column              Dtype
---  ------              -----
 0   org_ip_id           int64
 1   end_ivstr_nm        object
 2   scr_code            object
 3   SECTOR              object
 4   ISIC4_CLID          object
 5   BOP_item            object
 6   scr_currencyID      object
 7   issuer_countryID    object
 8   scr_termID          object
 9   msr_prd_id          object
 10  orig_ccy_cost_val   float64
 11  orig_ccy_mkt_val    float64
 12  total_change        float64
 13  grand_total_change  float64
 14  grand_increase      float64
 15  grand_decrease      float64
 16  transaction_change  float64
 17  other_change        float64
dtypes: float64(8), int64(1), object(9)
memory usage: 334.8+ MB
None
(2309862, 18)

In [19]:
imputed_provider = df_unpivoted_fin.groupby(['org_ip_id','msr_prd_id'])['orig_ccy_cost_val'].sum().reset_index()
pivot_imputed_provider = imputed_provider.pivot(index = ['org_ip_id'], columns = 'msr_prd_id', values = 'orig_ccy_cost_val' ).reset_index()
filtered_df = pivot_imputed_provider[pivot_imputed_provider.isna().any(axis=1)]

filtered_df

Empty DataFrame
Columns: [org_ip_id, 950763, 950764, 950765, 950766, 950767, 950768]
Index: []

In [22]:
summary = pd.DataFrame()
summary['orignal_stock'] = grouped_org.groupby('msr_prd_id')['orig_ccy_cost_val'].sum()
summary['imputed_stock'] = df_unpivoted_fin.groupby('msr_prd_id')['orig_ccy_cost_val'].sum()
summary['total_change'] = df_unpivoted_fin.groupby('msr_prd_id')['total_change'].sum()
summary['transaction_change'] = df_unpivoted_fin.groupby('msr_prd_id')['transaction_change'].sum()
summary['grand_increase'] = df_unpivoted_fin.groupby('msr_prd_id')['grand_increase'].sum()
summary['grand_decrease'] = df_unpivoted_fin.groupby('msr_prd_id')['grand_decrease'].sum()
summary

,orignal_stock,imputed_stock,total_change,transaction_change,grand_increase,grand_decrease
msr_prd_id,,,,,,
950763,4.389012e+13,4.389012e+13,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00
950764,4.302031e+13,4.302031e+13,-8.698098e+11,-8.698098e+11,2.539141e+16,-4.556186e+15
950765,4.289098e+13,4.289098e+13,-1.293281e+11,-1.293281e+11,2.973174e+16,-1.386500e+16
950766,4.304794e+13,4.305051e+13,1.595272e+11,1.595272e+11,3.102961e+16,-1.090894e+16
950767,4.290604e+13,4.290606e+13,-1.444535e+11,-1.444535e+11,1.530958e+16,-4.591669e+15
950768,4.196860e+13,4.196860e+13,-9.374615e+11,-9.374615e+11,3.406343e+16,-2.146913e+16

In [24]:
# Convert original currency to USD

file_path = "//BoT.or.th/cfs/FILESERV/EconStatistics/1.3.1 Balance of Payments Statistics Team/1_Migrate_เตรียมย้ายบ้าน/11_งาน Adhoc/PIA_Program/Monthly_FX.xlsx"

try:
    fxrate = pd.read_excel('./source_files/Monthly_FX.xlsx', sheet_name='Data')
except:
    fxrate = pd.read_excel(file_path, sheet_name='Data')

fxrate['Currency Id Code'] = fxrate['Currency Id Code'].astype('str')
fxrate['Measurement Period MQHY Id Code'] = fxrate['Measurement Period MQHY Id Code'].astype('str')

In [25]:
print(fxrate.columns)
fxrate = fxrate.drop(columns=['Measurement Period MQHY Id', 'Currency Id', 'Exchange Rate Type Id' ])
fxrate.sample(10)
print(fxrate.info())

Index(['Measurement Period MQHY Id Code', 'Measurement Period MQHY Id',
       'Currency Id Code', 'Currency Id', 'Exchange Rate Type Id',
       'Mid Rate Against USD', 'Average Mid Rate Against USD'],
      dtype='object')
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4347 entries, 0 to 4346
Data columns (total 4 columns):
 #   Column                           Non-Null Count  Dtype
---  ------                           --------------  -----
 0   Measurement Period MQHY Id Code  4347 non-null   object
 1   Currency Id Code                 4347 non-null   object
 2   Mid Rate Against USD             4347 non-null   float64
 3   Average Mid Rate Against USD     4347 non-null   float64
dtypes: float64(2), object(2)
memory usage: 136.0+ KB
None

In [26]:
df_unpivoted_original = df_unpivoted_fin.copy()

df_unpivoted_original.sample(3)
print(df_unpivoted_original.info())

print(type(df_unpivoted_original.iloc[0]['scr_currencyID']))
print(type(fxrate.iloc[0]['Currency Id Code']))
print(type(df_unpivoted_original.iloc[0]['msr_prd_id']))
print(type(fxrate.iloc[0]['Measurement Period MQHY Id Code']))

<class 'pandas.core.frame.DataFrame'>
Index: 2309862 entries, 0 to 2309861
Data columns (total 18 columns):
 #   Column              Dtype
---  ------              -----
 0   org_ip_id           int64
 1   end_ivstr_nm        object
 2   scr_code            object
 3   SECTOR              object
 4   ISIC4_CLID          object
 5   BOP_item            object
 6   scr_currencyID      object
 7   issuer_countryID    object
 8   scr_termID          object
 9   msr_prd_id          object
 10  orig_ccy_cost_val   float64
 11  orig_ccy_mkt_val    float64
 12  total_change        float64
 13  grand_total_change  float64
 14  grand_increase      float64
 15  grand_decrease      float64
 16  transaction_change  float64
 17  other_change        float64
dtypes: float64(8), int64(1), object(9)
memory usage: 334.8+ MB
None
<class 'str'>
<class 'str'>
<class 'int'>
<class 'str'>

In [27]:
df_unpivoted_original['msr_prd_id'] = df_unpivoted_original['msr_prd_id'].astype(str)

print(type(df_unpivoted_original.iloc[0]['scr_currencyID']))
print(type(fxrate.iloc[0]['Currency Id Code']))
print(type(df_unpivoted_original.iloc[0]['msr_prd_id']))
print(type(fxrate.iloc[0]['Measurement Period MQHY Id Code']))

<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>

In [29]:
df_unpivoted_usd = df_unpivoted_original.merge(fxrate, left_on=['msr_prd_id', 'scr_currencyID'], right_on = ['Measurement Period MQHY Id Code','Currency Id Code'], how='left')
df_unpivoted_usd['usd_ccy_mkt_val'] = df_unpivoted_usd['orig_ccy_mkt_val'] * df_unpivoted_usd['Mid Rate Against USD']
df_unpivoted_usd['usd_ccy_cost_val'] = df_unpivoted_usd['orig_ccy_cost_val'] * df_unpivoted_usd['Mid Rate Against USD']
df_unpivoted_usd['usd_total_change'] = df_unpivoted_usd['total_change'] * df_unpivoted_usd['Average Mid Rate Against USD']
df_unpivoted_usd['usd_grand_total_change'] = df_unpivoted_usd['grand_total_change'] * df_unpivoted_usd['Average Mid Rate Against USD']
df_unpivoted_usd['usd_grand_increase'] = df_unpivoted_usd['grand_increase'] * df_unpivoted_usd['Average Mid Rate Against USD']
df_unpivoted_usd['usd_grand_decrease'] = df_unpivoted_usd['grand_decrease'] * df_unpivoted_usd['Average Mid Rate Against USD']
df_unpivoted_usd['usd_transaction_change'] = df_unpivoted_usd['transaction_change'] * df_unpivoted_usd['Average Mid Rate Against USD']
df_unpivoted_usd['usd_other_change'] = df_unpivoted_usd['other_change'] * df_unpivoted_usd['Average Mid Rate Against USD']
df_unpivoted_usd.sample(5)

from datetime import datetime
df_unpivoted_usd['BOP_item'] = df_unpivoted_usd['BOP_item'].astype('int').astype('str').str.zfill(10)
print(df_unpivoted_usd.columns)
print(len(df_unpivoted_usd))
df_unpivoted_usd.sample(3)

df_unpivoted_usd.to_csv(f'./output/FLOW_TOTAL_{datetime.today().year}.csv', index=False)

Index(['org_ip_id', 'end_ivstr_nm', 'scr_code', 'SECTOR', 'ISIC4_CLID',
       'BOP_item', 'scr_currencyID', 'issuer_countryID', 'scr_termID',
       'msr_prd_id', 'orig_ccy_cost_val', 'orig_ccy_mkt_val', 'total_change',
       'grand_total_change', 'grand_increase', 'grand_decrease',
       'transaction_change', 'other_change', 'Measurement Period MQHY Id Code',
       'Currency Id Code', 'Mid Rate Against USD',
       'Average Mid Rate Against USD', 'usd_ccy_mkt_val', 'usd_ccy_cost_val',
       'usd_total_change', 'usd_grand_total_change', 'usd_grand_increase',
       'usd_grand_decrease', 'usd_transaction_change', 'usd_other_change'],
      dtype='object')
2309862

In [30]:
df_unpivoted_usd_only = df_unpivoted_usd.drop(['orig_ccy_cost_val', 'total_change', 'grand_total_change',
                                               'grand_increase', 'grand_decrease', 'transaction_change'], axis=1).reset_index(drop=True)
df_unpivoted_usd_only = df_unpivoted_usd_only.groupby(['SECTOR','ISIC4_CLID','BOP_item',
                                                       'scr_currencyID', 'issuer_countryID',
                                                       'scr_termID','msr_prd_id'
                                                        ])[['usd_ccy_cost_val','usd_total_change','usd_grand_total_change',
                                                            'usd_grand_increase', 'usd_grand_decrease', 'usd_transaction_change',
                                                            'usd_other_change']].sum().reset_index()
df_unpivoted_usd_only = df_unpivoted_usd_only.sort_values(by=['SECTOR', 'ISIC4_CLID', 'BOP_item',
                                                              'scr_currencyID', 'issuer_countryID',
                                                              'scr_termID', 'msr_prd_id'])
df_unpivoted_usd_only['BOP_item'] = df_unpivoted_usd_only['BOP_item'].astype('int').astype('str').str.zfill(10)
print(df_unpivoted_usd_only.columns)
print(len(df_unpivoted_usd_only))
df_unpivoted_usd_only.sample(3)

df_unpivoted_usd_only.to_csv(f'./output/FLOW_USD_{datetime.today().year}.csv', index=False)

Index(['SECTOR', 'ISIC4_CLID', 'BOP_item', 'scr_currencyID',
       'issuer_countryID', 'scr_termID', 'msr_prd_id', 'usd_ccy_cost_val',
       'usd_total_change', 'usd_grand_total_change', 'usd_grand_increase',
       'usd_grand_decrease', 'usd_transaction_change', 'usd_other_change'],
      dtype='object')
8154